@page
@model Clinic.Areas.MedRec.Pages.CreateMedicalRecordModel
@using System.Text.Json
@{
    ViewData["Title"] = "Медицинская запись";
}

@section Styles {
    <link rel="stylesheet" href="~/css/base.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/medical-record/medrec.css" asp-append-version="true" />
}


<div class="container">
    <form method="post">
        <div class="head-wrapper">
            <h2 class="head">Добавление медицинской записи</h2>
            <div class="wrapper-head-btn">
                <a class="btn" asp-area="MedRec" asp-page="/ViewReceptionDocument">Вернуться к списку приёма</a>
                <button class="btn" type="submit">Сохранить</button>
            </div>
        </div>
        <p><span class="selection">Основание:</span> Приём специалиста <span class="selection-secondary">№#</span> от <span class="selection-secondary">ДД.ММ.ГГГГ Фамилия Имя Отчество</span></p>
        <div class="wrapper-info-reception">
            <div class="field-info-reception">
                <label class="selection" for="#">Запись на прием от:</label>
                <input type="date">
            </div>
            <div class="field-info-reception">
                <label class="selection" for="#">Врач:</label>
                <select disabled>
                    <option selected value="#">Фамилия Имя Отчество</option>
                </select>
            </div>
            <div class="field-info-reception">
                <label class="selection" for="#">Медсестра:</label>
                <select disabled>
                    <option selected value="#">Фамилия Имя Отчество</option>
                </select>
            </div>
            <div class="field-info-reception">
                <label class="selection" for="#">Кабинет:</label>
                <select disabled>
                    <option selected value="#">Название №#</option>
                </select>
            </div>
        </div>

        <div class="block-comment">
            <div>
                <label for="inputMedicalRecordModel.Comment" class="selection"> Комментарий:</label>
                <textarea name="inputMedicalRecordModel.Comment" class="text-area"></textarea>
            </div>
        </div>

        <div class="wrapper-tabs">
            <div class="tabs">
                <div class="tab">
                    <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
                    <label for="tab-1" class="tab-label">Оказанные услуги</label>
                    <div class="tab-content">
                        <div class="wrapper-tables">
                            <div>
                                <h2 class="head">Выбранные услуги</h2>
                            </div>
                            <div class="all-serv-mat-head-filters">
                                <h2 class="head">Все услуги</h2>
                                <div class="all-serv-mat-filters">
                                    <div>
                                        <select id="doctFilter">
                                            <option value="0">Все специальности</option>
                                            @foreach (var doct in Model.AllDoctors)
                                            {
                                                if (doct.Key == Model.CurrentDoctId)
                                                {
                                                    <option selected value="@doct.Key">@doct.Value</option>
                                                }
                                                else
                                                {
                                                    <option value="@doct.Key">@doct.Value</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div>
                                        <select id="grpFilter">
                                            <option value="0" selected>Все группы</option>
                                            @foreach (var servGroup in Model.AllServiceGroups)
                                            {
                                                <option value="@servGroup.Key">@servGroup.Value</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="table-wrapper">
                                <table id="table_dest_service" class="fl-table">
                                    <thead>
                                        <tr>
                                            <th>Услуга</th>
                                            <th>Количество</th>
                                            <th>Цена</th>
                                            <th>Сумма</th>
                                            <th>Врач</th>
                                            <th class="th-td-last"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.SelectedServices.Count; i++)
                                        {
                                            <tr>
                                                @{
                                                    double? priceServ = Model.PerSex == "Муж" ? Model.AllService.Find(serv => serv.ServId == Model.SelectedServices[i].ServId)?.PriceServices.FirstOrDefault(priceSer => priceSer.PriceTypeId == 1)?.PriceServValueMan :
                                                    Model.AllService.Find(serv => serv.ServId == Model.SelectedServices[i].ServId)?.PriceServices.FirstOrDefault(priceSer => priceSer.PriceTypeId == 1)?.PriceServValueWoman;
                                                }
                                                <td class="col-id-hidden"><input name="inputMedicalRecordModel.SelectedServices[@i].ServId" hidden type="number" value="@Model.SelectedServices[i].ServId" /></td>
                                                <td>@Model.AllService.Find(serv => serv.ServId == Model.SelectedServices[i].ServId)?.ServName</td>
                                                <td><input name="inputMedicalRecordModel.SelectedServices[@i].Count" type="number" step="1" min="1" value="@Model.SelectedServices[i].Count"></td>
                                                <td>@priceServ</td>
                                                <td>@(priceServ * Model.SelectedServices[i].Count)</td>
                                                <td>
                                                    <select class="select-worker" name="inputMedicalRecordModel.SelectedServices[@i].WorkId">
                                                        @foreach (KeyValuePair<int, string> worker in Model.SelectedServices[@i].Workers)
                                                        {
                                                            if (Model.SelectedServices[i].WorkId == worker.Key)
                                                            {
                                                                <option selected value="@worker.Key">@worker.Value</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@worker.Key">@worker.Value</option>
                                                            }
                                                        }
                                                    </select>
                                                </td>
                                                <td class="col-id-hidden"><input name="inputMedicalRecordModel.SelectedServices[@i].RecDocContId" hidden type="number" value="@Model.SelectedServices[i].RecDocContId"></td>
                                                <td class="th-td-last">
                                                    <div class="btn-wrapper-table">
                                                        <a class="btn btn-wrapper-table-box del-service">
                                                            <img src="~/image/icon-delete.png" width="16px">
                                                        </a>
                                                        <a class="btn btn-wrapper-table-box show-materials">
                                                            <img src="~/image/icon-material.png" width="16px">
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    <tbody>
                                </table>
                            </div>
                            <div class="table-wrapper">
                                <table id="table_source_service" class="fl-table">
                                    <thead>
                                        <tr>
                                            <th>Специальность</th>
                                            <th>Код по стандарту</th>
                                            <th>Услуга</th>
                                            <th>Группа</th>
                                            <th>Тип услуги</th>
                                            <th>Цена</th>
                                            <th>Длит. (мин)</th>
                                            <th class="th-td-last"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var serv in Model.AllService)
                                        {
                                            bool flag = @Model.SelectedServices.Any(selected => selected.ServId == serv.ServId);
                                            if (serv.DoctId == Model.CurrentDoctId && !flag)
                                            {
                                                <tr>
                                                    <td class="col-id-hidden">@Model.SelectedServices.Any(selected => selected.ServId == serv.ServId)</td>
                                                    <td class="col-id-hidden">@serv.ServId</td>
                                                    <td class="col-id-hidden">@serv.DoctId</td>
                                                    <td class="col-id-hidden">@serv.ServGrpId</td>
                                                    <td>@serv.Doct.DoctName</td>
                                                    <td>@serv.StdServId</td>
                                                    <td>@serv.ServName</td>
                                                    <td>@serv.ServGrp.ServGrpName</td>
                                                    <td>@serv.ServType.ServTypeName</td>
                                                    @{
                                                        double? priceServ = Model.PerSex == "Муж" ? serv.PriceServices.FirstOrDefault(priceSer => priceSer.PriceTypeId == 1)?.PriceServValueMan :
                                                                                serv.PriceServices.FirstOrDefault(priceSer => priceSer.PriceTypeId == 1)?.PriceServValueWoman;
                                                    }
                                                    <td>@priceServ</td>
                                                    <td>@serv.ServDuration</td>
                                                    <td class="th-td-last">
                                                        <div class="btn-wrapper-table">
                                                            <a class="btn btn-wrapper-table-box add-service">
                                                                <img class="icon-add" src="~/image/icon-add.png" width="12px">
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr style="display: none;">
                                                    <td class="col-id-hidden">@Model.SelectedServices.Any(selected => selected.ServId == serv.ServId)</td>
                                                    <td class="col-id-hidden">@serv.ServId</td>
                                                    <td class="col-id-hidden">@serv.DoctId</td>
                                                    <td class="col-id-hidden">@serv.ServGrpId</td>
                                                    <td>@serv.Doct.DoctName</td>
                                                    <td>@serv.StdServId</td>
                                                    <td>@serv.ServName</td>
                                                    <td>@serv.ServGrp.ServGrpName</td>
                                                    <td>@serv.ServType.ServTypeName</td>
                                                    @{
                                                        double? priceServ = Model.PerSex == "Муж" ? serv.PriceServices.FirstOrDefault(priceSer => priceSer.PriceTypeId == 1)?.PriceServValueMan :
                                                        serv.PriceServices.FirstOrDefault(priceSer => priceSer.PriceTypeId == 1)?.PriceServValueWoman;
                                                    }
                                                    <td>@priceServ</td>
                                                    <td>@serv.ServDuration</td>
                                                    <td class="th-td-last">
                                                        <div class="btn-wrapper-table">
                                                            <a class="btn btn-wrapper-table-box add-service">
                                                                <img class="icon-add" src="~/image/icon-add.png" width="12px">
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    <tbody>
                                </table>
                            </div>
                        </div>

                        <div id="hidden-material-block">

                            <div class="wrapper-hidden-material-block">
                                <div class="hide-block">
                                    <a class="btn" id="hide-block-materials">Скрыть</a>
                                </div>
                                <div class="wrapper-info-service">
                                    <div class="info-service">
                                        <p><span class="selection-secondary">Специальность:</span> ЛОР</p>
                                        <p><span class="selection-secondary">Код по стандарту:</span> 105.631B</p>
                                        <p><span class="selection-secondary">Услуга:</span> Медицинский осмотр</p>
                                        <p><span class="selection-secondary">Группа:</span> Платные медицинские услуги</p>
                                    </div>
                                    <div class="info-service">
                                        <p><span class="selection-secondary">Тип услуги:</span> Типовая услуга</p>
                                        <p><span class="selection-secondary">Цена:</span> 3000</p>
                                        <p><span class="selection-secondary">Длительность:</span> 30</p>
                                    </div>
                                </div>
                                <div class="wrapper-tables">
                                    <div>
                                        <h2 class="head">Выбранные материалы</h2>
                                    </div>
                                    <div class="all-serv-mat-head-filters">
                                        <h2 class="head">Все материалы</h2>
                                        <div class="all-serv-mat-filters">
                                            <div>
                                                <select>
                                                    <option selected>Материалы в наличии</option>
                                                    <option>Все материалы</option>
                                                </select>
                                            </div>
                                            <div>
                                                <select>
                                                    <option selected value="#">Основной склад</option>
                                                    <option value="#">Второстепенный склад</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-wrapper">
                                        <table id="table_dest_material" class="fl-table">
                                            <thead>
                                                <tr>
                                                    <th>Материал</th>
                                                    <th>Количество</th>
                                                    <th>Цена</th>
                                                    <th>Сумма</th>
                                                    <th class="th-td-last"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < Model.SelectedServices.Count; i++)
                                                {
                                                    for (int j = 0; j < Model.SelectedServices[i].SelectedMaterials.Count; j++)
                                                    {
                                                        var material = Model.AllMaterials.Find(mat => mat.MatId == Model.SelectedServices[i].SelectedMaterials[j].MatId);
                                                        var curTypePrice = material.PriceMaterials.Where(priceMat => priceMat.PriceTypeId == 1).First().PriceMatValue;
                                                        if (material != null)
                                                        {
                                                            <tr>
                                                                @*ServId*@
                                                                <td class="col-id-hidden">@Model.SelectedServices[i].ServId</td>

                                                                @*MatId*@
                                                                <td class="col-id-hidden">
                                                                    <input name="inputMedicalRecordModel.SelectedServices[@i].SelectedMaterials[@j].MatId"
                                                                           hidden type="number" value="@material.MatId" />
                                                                </td>

                                                                @*MatName*@
                                                                <td>@material.MatName</td>

                                                                @*Count*@
                                                                <td>
                                                                    <input type="number" step="0.1" min="1" value="@Model.SelectedServices[i].SelectedMaterials[j].Count.ToString().Replace(",", ".")" data-val="true" name="inputMedicalRecordModel.SelectedServices[@(i)].SelectedMaterials[@(j)].Count">
                                                                    <input name="__Invariant" type="hidden" value="inputMedicalRecordModel.SelectedServices[@(i)].SelectedMaterials[@(j)].Count">
                                                                </td>

                                                                @*PriceMatValue*@
                                                                <td>@curTypePrice</td>

                                                                @*RecDocMatCost*@
                                                                <td>@(Math.Round((curTypePrice * Model.SelectedServices[i].SelectedMaterials[j].Count), 2))</td>

                                                                @*RecDocMatId*@
                                                                <td class="col-id-hidden"><input name="inputMedicalRecordModel.SelectedServices[@i].SelectedMaterials[@j].RecDocMatId" hidden type="number" value="@Model.SelectedServices[@i].SelectedMaterials[@j].RecDocMatId"></td>
                                                                <td class="th-td-last">
                                                                    <div class="btn-wrapper-table">
                                                                        <a class="btn btn-wrapper-table-box del-material">
                                                                            <img src="~/image/icon-delete.png" width="16px">
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            <tbody>
                                        </table>
                                    </div>
                                    <div class="table-wrapper">
                                        <table id="table_source_material" class="fl-table">
                                            <thead>
                                                <tr>
                                                    <th>Материал</th>
                                                    <th>Единица измерения</th>
                                                    <th>Цена</th>
                                                    <th>Остаток</th>
                                                    <th class="th-td-last"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var mat in Model.AllMaterials)
                                                {
                                                    <tr>
                                                        @*AlreadySelected*@
                                                        <td class="col-id-hidden"></td>

                                                        @*Available*@
                                                        <td class="col-id-hidden"></td>

                                                        @*Stock*@
                                                        <td class="col-id-hidden"></td>

                                                        @*MatId*@
                                                        <td class="col-id-hidden">@mat.MatId</td>

                                                        @*MatName*@
                                                        <td>@mat.MatName</td>

                                                        @*MeasShortName*@
                                                        <td>@mat.Meas.MeasShortName</td>

                                                        @*PriceMatValue*@
                                                        <td>@mat.PriceMaterials.Where(priceMat => priceMat.PriceTypeId == 1).First().PriceMatValue</td>

                                                        @*CountAvailable*@
                                                        <td>---</td>
                                                        <td class="th-td-last">
                                                            <div class="btn-wrapper-table">
                                                                <a class="btn btn-wrapper-table-box add-material">
                                                                    <img src="~/image/icon-add.png" width="12px">
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            <tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-with-inputs">
                            <div>
                                <label class="selection" for="">Уровень цен:</label>
                                <select disabled>
                                    <option selected value="">Основной</option>
                                </select>
                            </div>
                            <div>
                                <label class="selection" for="">Скидка:</label>
                                <select disabled>
                                    <option selected value="">Нет скидки</option>
                                </select>
                            </div>
                        </div>
                        <div class="block-with-inputs">
                            <div>
                                <label class="selection" for="">Итого:</label>
                                <input id="sum-service-material" readonly type="text">
                            </div>
                            <div>
                                <label class="selection" for="">Итого (со скидкой):</label>
                                <input readonly type="number">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab">
                    <input type="radio" name="css-tabs" id="tab-2" class="tab-switch">
                    <label for="tab-2" class="tab-label">Используемые материалы</label>
                    <div class="tab-content">My father now and then sending me small sums of money, I laid them out in learning navigation, and other parts of the mathematics, useful to those who intend to travel, as I always believed it would be, some time or other, my fortune to do. </div>
                </div>
                <div class="tab">
                    <input type="radio" name="css-tabs" id="tab-3" class="tab-switch">
                    <label for="tab-3" class="tab-label">Диагнозы</label>
                    <div class="tab-content">When I left Mr. Bates, I went down to my father: where, by the assistance of him and my uncle John, and some other relations, I got forty pounds, and a promise of thirty pounds a year to maintain me at Leyden: there I studied physic two years and seven months, knowing it would be useful in long voyages.</div>
                </div>
                <div class="tab">
                    <input type="radio" name="css-tabs" id="tab-3" class="tab-switch">
                    <label for="tab-3" class="tab-label">Рекомендации по лечению</label>
                    <div class="tab-content">When I left Mr. Bates, I went down to my father: where, by the assistance of him and my uncle John, and some other relations, I got forty pounds, and a promise of thirty pounds a year to maintain me at Leyden: there I studied physic two years and seven months, knowing it would be useful in long voyages.</div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/medical-record-script.js"></script>
}